
.btn.btn-custom-lg,
.btn.btn-custom-sm,
.btn.btn-custom-xs {
  border-radius: 0;
}

.checked {
  color: orange;
}

.dot {
 height: 30px;
 width: 30px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 border-style: solid;
 border-color: grey;
 border-width: 2px;
 cursor: pointer;
}

.company-logo {
  height: 50px;
  width 50px;
}

.rotate{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.retailer-main-card-body {
  background-color: #c9c7c1;
}
